<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/journal/bootstrap.min.css"
        integrity="sha384-QDSPDoVOoSWz2ypaRUidLmLYl4RyoBWI44iA5agn6jHegBxZkNqgm2eHb6yZ5bYs" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
        
    <title>Inicio</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">CRUD</a>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
            </ul>
        </div>
    </nav>
    <br>
    <div style="margin-left: 1rem;">
        <a href="/"><i class="fa fa-arrow-left"></i> Volver atrás</a>
    </div>
    <div style="margin-right: 30rem; margin-left: 30rem" class="form-group">
        <form action="/create" method="post" enctype="multipart/form-data">
            <div class="form-group" style="text-align: center;">
                <label>Correo</label>
                <input name="txtCorreo" type="email" class="form-control" placeholder="Ej. nombre@example.com" required>
            </div>
            <div class="form-group" style="text-align: center;">
                <label>Nombres</label>
                <input name="txtName" type="text" class="form-control" placeholder="John Smith" required>
            </div>
            <div class="form-group" style="text-align: center;">
                <label>Cuatrimestre</label>
                <select class="form-control" name="txtCuatri" required>
                    <option value="Enero - Abril">Enero - Abril</option>
                    <option value="Mayo - Agosto">Mayo - Agosto</option>
                    <option value="Septiembre - Diciembre">Septiembre - Diciembre</option>
                </select>
            </div>
            <div class="form-group" style="text-align: center;">
                <label>Tipo</label>
                <select class="form-control" name="txtTipo" required>
                    <option value="Tutoria">Tutoria</option>
                    <option value="Escolares">Escolares</option>
                </select>
            </div>
            <div class="form-group" style="text-align: center;">
                <label for="exampleInputEmail1">Archivo</label>
                <input name="txtFile" type="file" class="form-control" placeholder="John Smith" required>
            </div>
            <div class="form-group" style="text-align: center;">
                <button type="submit" class="btn btn-success"><i class="fa fas-sendfa fa-paper-plane-o"></i> Enviar archivo</button>
            </div>
        </form>
    </div>
</body>

</html>